<div class="bg-white">
  <div class="mx-auto grid max-w-2xl grid-cols-1 items-center gap-x-8 gap-y-16 px-4 py-24 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{vehicle.marca}} {{vehicle.modelo}}</h2>

      <dl class="mt-16 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Ano</dt>
          <dd class="mt-2 text-sm text-gray-500">{{vehicle.ano}}</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Placa</dt>
          <dd class="mt-2 text-sm text-gray-500">{{vehicle.placa}}</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Renavam</dt>
          <dd class="mt-2 text-sm text-gray-500">{{vehicle.renavam}}</dd>
        </div>
        <div class="border-t border-gray-200 pt-4">
          <dt class="font-medium text-gray-900">Chassi</dt>
          <dd class="mt-2 text-sm text-gray-500">{{vehicle.chassi}}</dd>
        </div>
        <span class="text-2xl font-bold tracking-tight text-gray-900">{{vehicle.valor | valorbr}}</span>
      </dl>
    </div>
    <div class="grid grid-cols-1 grid-rows-1 gap-4 sm:gap-6 lg:gap-8">
      <img [src]="vehicle.img" alt="Walnut card tray with white powder coated steel divider and 3 punchout holes." class="rounded-lg bg-gray-100">
    </div>
  </div>
</div>
